<table style="border: 1px solid #999999; margin-left: auto; margin-right: auto;">
    <thead>
    <tr style="background-color: #00a1e1; color: white; vertical-align: top;">
        <td style="width: 20px; padding: 0.2rem; text-align: center;"><strong><abbr title="Sprint">S</abbr></strong>
        </td>
        <td style="padding: 0.2rem;"><strong>Week</strong></td>
        <td style="min-width: 150px; padding: 0.2rem;"><strong>Maandag</strong></td>
        <td style="min-width: 150px; padding: 0.2rem;"><strong>Dinsdag</strong></td>
        <td style="min-width: 150px; padding: 0.2rem;"><strong>Woensdag</strong></td>
        <td style="min-width: 150px; padding: 0.2rem;"><strong>Donderdag</strong></td>
        <td style="min-width: 150px; padding: 0.2rem;"><strong>Vrijdag</strong></td>
    </tr>
    </thead>
    <tbody>
    $planning
    </tbody>
</table>