<details style="background-color: #eee; margin-bottom: 1rem; padding: 0.4rem;">
    <summary id="$lesson_id"
             style="background-color: #00a1e1; font-size: 1.4rem; color: white; cursor: pointer; padding: 0.3rem 0.4rem 0.4rem 0.8rem;">
        $lesson_title
    </summary>
    <div style="padding: 0rem 0.8rem;">
        <div class="user_content css-j8cgno-view enhanced" dir="ltr" data-testid="description-expanded">
            <p><span style="color: #3598db; font-size: 18pt;">Value statement</span></p>
            <h3><span style="color: #3598db;"><strong>Taken</strong></span></h3>
            <h4>Dag 1</h4>
            <ul>
                <li>Hoorcollege en/of gastcollege volgen, fysiek aanwezig</li>
                <li>Individueel uitwerken casus</li>
                <li>Casus aanbieden voor feedback aan peers&nbsp;</li>
                <li>Feedback verwerken en vastleggen bij portfolio-item</li>
                <li>Portfolio-item inleveren op Canvas</li>
            </ul>
            <h4>Woensdag bij opdrachtgever</h4>
            <ul>
                <li>Bepaal met het team en opdrachtgever de beroepsproducten om de learning story toe te passen binnen
                    de challenge.
                </li>
                <li>Het team doet samen met de opdrachtgever de refinement</li>
            </ul>
            <h4>Dag 2</h4>
            <ul>
                <li>Verdeel de taken om tot de beroepsproducten te komen</li>
                <li>Bespreek de beroepsproducten binnen het team en geef feedback</li>
                <li>Verbeter de beroepsproducten</li>
            </ul>
            <h4>Vrijdag tijdens de sprint review</h4>
            <ul>
                <li>Oplevering aan opdrachtgever</li>
                <li>Neem de beroepsproducten mee in de review</li>
            </ul>
            <h3><strong><span style="color: #3598db;">Ondersteunende informatie</span></strong></h3>
            <p>slides</p>
            <h3><span style="color: #3598db;"><strong>Acceptatiecriteria</strong></span></h3>
            <p>rubrics</p>
            <h3><span style="color: #3598db;"><strong>Definition of Done</strong></span></h3>
            <ul>
                <li>Individuele casus wordt samen met de peer-feedback ingeleverd op Canvas.</li>
                <li>Team-beroepsproduct wordt samen met de feedback ingeleverd op Canvas.</li>
                <li>Beroepsproduct wordt opgeleverd aan opdrachtgever en&nbsp;toegelicht tijdens sprint review</li>
            </ul>
            <h3><span style="color: #3598db;"><strong>Portfolio-items</strong></span></h3>
            <p>canvasopdrachten</p>
        </div>
    </div>
</details>